# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

In [3]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv'

### Step 3. Assign it to a variable apple

In [10]:
apple = pd.read_csv(url, sep = ',')

### Step 4.  Check out the type of the columns

In [11]:
apple.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 5. Transform the Date column as a datetime type

In [12]:
apple['Date'] = pd.to_datetime(apple.Date)

### Step 6.  Set the date as the index

In [13]:
#apple.set_index('Date', inplace =True)
apple.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Volume                int64
Adj Close           float64
dtype: object

### Step 7.  Is there any duplicate dates?

In [14]:
duplicateRowsDF = apple[apple.duplicated(['Date'])]
duplicateRowsDF

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Adj Close]
Index: []

### Step 9. Get the last business day of each month

### Step 10.  What is the difference in days between the first day and the oldest

In [18]:
apple.sort_values(by='Date')
apple['Date'].iloc[0]
diff = apple['Date'].iloc[0] - apple['Date'].iloc[-1]
diff

Timedelta('12261 days 00:00:00')

### Step 11.  How many months in the data we have?

In [16]:
months = diff/np.timedelta64(1,'M')

In [17]:
months

402.8337337522331

In [21]:
apple.sort_values(by='Date')
apple

           Date   Open   High    Low  Close     Volume  Adj Close
0    2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
1    2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2    2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
3    2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
4    2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...         ...    ...    ...    ...    ...        ...        ...
8460 1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
8461 1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8462 1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8463 1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8464 1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]